<% provide(:title, "Gooogle Image Search") %>

<p>
  The Google Image Search tool allows you to search for images and pictures on
  the <%= link_to 'Google Custom Search API', 'https://developers.google.com/api-client-library/ruby/apis/customsearch/v1', target: '_new' %>
  .
</p>

<%= form_tag(google_search_path, method: "get", id: "search-form", enforce_utf8: false, role: 'search') do %>
  <div class="form-group">
    <%= text_field_tag :q, params[:q], placeholder: 'Keywords', class: 'form-control', autofocus: true %>
  </div>
  <%= submit_tag 'Search', :name => nil, :class => 'btn btn-default' %>
<% end %>

<% unless @images.nil? %>

  <hr/>

  <% @images.in_groups_of(APP_CONFIG['max_columns'].to_i) do |images| %>
    <div class="row">
      <% images.compact.each do |image| %>
        <div class="col-xs-<%= 12 / APP_CONFIG['max_columns'].to_i.round %>">
          <%=
            link_to image_tag(image['image']['thumbnailLink'], height: image['image']['thumbnailHeight'], width: image['image']['thumbnailWidth'], class: 'img-responsive'),
                    image['image']['contextLink'],
                    title: "Title: " + image['title'],
                    class: 'thumbnail'
          %>
        </div>
      <% end %>
    </div>
  <% end %>

<% end %>
