<% provide(:title, "Manage Ideas") %>

<table class="table table-hover table-striped table-condensed">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th>Added by</th>
    <th>Added</th>
    <th>Last updated</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @ideas.each do |idea| %>
    <tr>
      <td><b><%= link_to idea.title, edit_idea_path(idea.id) %></b></td>
      <td><b><%= idea.author %></b></td>
      <td><%= idea.description %></td>
      <td><%= idea.user.name %></td>
      <td><%= timestamp(idea.created_at) %></td>
      <td><%= timestamp(idea.updated_at) %></td>
      <td>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_idea_path(idea), :class => 'btn btn-primary btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    idea,
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger btn-xs' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @ideas %>

<br/>

<%= link_to 'New Idea', new_idea_path, class: 'btn btn-default' %>
