<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Local:</strong>
  <%= @language.local %>
</p>

<p>
  <strong>Acronym:</strong>
  <%= @language.acronym %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
