<% provide(:title, "Bicherwuerm") %>

<div class="jumbotron">

  <h1>Bicherwuerm  <%= image_tag 'bookworm.png' %></h1>

  <blockquote>
    A room without books is like a body without a soul.<br/>
    <cite>Marcus Tullius Cicero</cite>
  </blockquote>

  <p>
    Bicherwuerm is a book management app written by <%= mail_to 'len@rengaw.lu', 'Len Wagner' %>.
    The app runs on <%= link_to "Ruby on Rails " + Rails.version, "https://rubyonrails.org" %> in
    <%= ENV['RAILS_ENV'] %> environment on <%= link_to 'Ruby ' + RUBY_VERSION, 'https://www.ruby-lang.org' %>
    (<%= RUBY_PLATFORM %>).
  </p>

</div>
