<% provide(:title, "Manage Publishers") %>

<table class="table table-hover table-striped table-condensed">
  <thead>
  <tr>
    <th>Publisher</th>
    <th>Website</th>
    <th>Description</th>
    <th>Number of books</th>
    <th>Last updated</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @publishers.each do |publisher| %>
    <tr>
      <td><b><%= link_to publisher.name, edit_publisher_path(publisher) %></b></td>
      <td><%= link_to publisher.url, target: '_new' %></td>
      <td><%= truncate(publisher.description, length: 50, omission: '...') %></td>
      <td><%= pluralize(Book.where(publisher_id: publisher.id).size, 'book') %>
        (<%= number_to_percentage(Book.where(publisher_id: publisher.id).size.to_f / @total_book_count * 100, precision: 1) %>
        )
      </td>
      <td><%= safe_timestamp(publisher.updated_at) %></td>
      <td>
        <%= link_to t('.show', :default => t("helpers.links.show")),
                    publisher_books_path(publisher.id), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_publisher_path(publisher), :class => 'btn btn-primary btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    publisher_path(publisher),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-danger btn-xs' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @publishers %>

<br/>

<%= link_to 'New Publisher', new_publisher_path, class: 'btn btn-default' %>
