<%= simple_form_for @color, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>

  <%= f.error_notification %>

  <%= f.input :name, label: 'Color', autofocus: true %>
  <%= f.input :hex_code, placeholder: 'e.g. #cc0000' %>
  <%= f.input :description, as: :text %>

  <%= f.submit "Save", class: "btn btn-success" %>

<% end %>

<% if @color.hex_code? %>

  <hr/>

  <div style="color: <%= @color.hex_code %>; font-weight: bold; font-size: 18px">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper sem at interdum sagittis.
      Vestibulum egestas feugiat dolor at sodales. Curabitur enim est, venenatis at bibendum eu, venenatis pharetra
      nisl. Suspendisse potenti. Etiam id finibus sapien. Suspendisse ut risus eget leo ultrices suscipit vel nec
      nulla. Nunc risus nisi, lobortis in pulvinar sed, sagittis ut mi.</p>
    <p>Proin eleifend turpis eget aliquam molestie. Integer commodo sed ligula non porttitor. Phasellus tincidunt a
      tortor vitae cursus. Integer interdum magna in mi viverra, non aliquet mauris dictum. Maecenas at rutrum felis,
      at iaculis tortor. Fusce id enim hendrerit, viverra ipsum quis, dictum nunc. Etiam lectus sapien, accumsan sit
      amet sapien in, dictum euismod tortor. Maecenas placerat nulla non enim hendrerit rutrum. Quisque ac orci eros.
      Vivamus elementum malesuada ante, a vehicula est commodo nec.</p>
  </div>

  <hr/>

<% end %>
