<ol class="breadcrumb">

  <li><%= link_to "Home", root_url, title: 'Go back to main page.' %></li>

  <%= content_tag :li, (link_to "Books", books_path) if params[:controller] == 'books' %>
  <%= content_tag :li, (link_to "Categories", categories_path) if params[:controller] == 'categories' %>
  <%= content_tag :li, (link_to "Genres", genres_path) if params[:controller] == 'genres' %>
  <%= content_tag :li, (link_to "Collections", collections_path) if params[:controller] == 'collections' %>
  <%= content_tag :li, (link_to "Colors", colors_path) if params[:controller] == 'colors' %>
  <%= content_tag :li, (link_to "Languages", languages_path) if params[:controller] == 'languages' %>
  <%= content_tag :li, (link_to "Users", users_path) if params[:controller] == 'users' %>
  <%= content_tag :li, (link_to "Users", users_path) if params[:controller] == 'devise/registrations' && params[:action] == 'edit' %>
  <%= content_tag :li, (link_to "Publishers", publishers_path) if params[:controller] == 'publishers' %>
  <%= content_tag :li, (link_to "Ideas", ideas_path) if params[:controller] == 'ideas' %>

  <li class="active">
    <%= yield(:title) %>

    <% unless @filter.blank? %>
    &mdash; filtering by <%= content_tag :i, @filter %>
    <% end %>

    <% unless params[:q].blank? %>
    &mdash; looking for <%= content_tag :i, params[:q]  %>
    <% end %>
  </li>

</ol>
