<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', "data-turbo-track" => "reload" %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

    <div class="container">

      <%= render 'layouts/breadcrumbs' %>

      <%= bootstrap_flash %>
      <% unless notice.blank? %>
      <!-- <div class="alert alert-success alert-dismissable"><button name="button" type="button" class="close" data-dismiss="alert">×</button><%= notice %></div> -->
      <!-- <p style="color: green"><%= notice %></p> -->
      <% end %>

      <%= yield %>

      <% if Rails.env.development? %>
        <%= debug(params) %>
        <!-- render time: <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds -->
      <% end %>

    </div>

  </body>
</html>
